* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.search {
    text-align: center;
    display: block;
    padding-top: 5em;
}

.search input {
    width: 60%;
    padding: 2em;
    border-radius: 10px;
}

.gallery {
    display: grid;
    place-content: center;
    width: 100%;
    max-width: 1000px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 3em 2em;
    margin: 1em 1em 1em 0em;
    padding: 4em 3em 1em 3em;
}

img {
    width: 100%;
}